In [1]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.decomposition import PCA
from sklearn.preprocessing import scale

In [2]:
df = pd.read_csv('ClusterVisualization.csv',on_bad_lines = 'skip')

In [3]:
print(list(df.columns))

['Unnamed: 0.1', 'Unnamed: 0', 'book_id', 'author_id', 'authors', 'title', 'description', 'publisher', 'genres', 'avg_rating', 'ratings_count', 'num_pages', 'pub_year', 'similar_books', 'url', 'tokens', 'f_0', 'f_1', 'f_2', 'f_3', 'f_4', 'f_5', 'f_6', 'f_7', 'f_8', 'f_9', 'f_10', 'f_11', 'f_12', 'f_13', 'f_14', 'f_15', 'f_16', 'f_17', 'f_18', 'f_19', 'f_20', 'f_21', 'f_22', 'f_23', 'f_24', 'f_25', 'f_26', 'f_27', 'f_28', 'f_29', 'f_30', 'f_31', 'f_32', 'f_33', 'f_34', 'f_35', 'f_36', 'f_37', 'f_38', 'f_39', 'f_40', 'f_41', 'f_42', 'f_43', 'f_44', 'f_45', 'f_46', 'f_47', 'f_48', 'f_49', 'f_50', 'f_51', 'f_52', 'f_53', 'f_54', 'f_55', 'f_56', 'f_57', 'f_58', 'f_59', 'f_60', 'f_61', 'f_62', 'f_63', 'f_64', 'f_65', 'f_66', 'f_67', 'f_68', 'f_69', 'f_70', 'f_71', 'f_72', 'f_73', 'f_74', 'f_75', 'f_76', 'f_77', 'f_78', 'f_79', 'f_80', 'f_81', 'f_82', 'f_83', 'f_84', 'f_85', 'f_86', 'f_87', 'f_88', 'f_89', 'f_90', 'f_91', 'f_92', 'f_93', 'f_94', 'f_95', 'f_96', 'f_97', 'f_98', 'f_99', 'kmeans_cluster', 'tsne_1', 'tsne_2']

In [4]:
df= df[['book_id', 'author_id', 'authors', 'title', 'description', 'publisher', 'genres', 'avg_rating', 'ratings_count', 'num_pages', 'pub_year','kmeans_cluster']]

In [5]:
df.columns

Index(['book_id', 'author_id', 'authors', 'title', 'description', 'publisher',
       'genres', 'avg_rating', 'ratings_count', 'num_pages', 'pub_year',
       'kmeans_cluster'],
      dtype='object')

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19907 entries, 0 to 19906
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   book_id         19907 non-null  int64
 1   author_id       19907 non-null  int64
 2   authors         19907 non-null  object
 3   title           19907 non-null  object
 4   description     19907 non-null  object
 5   publisher       19907 non-null  object
 6   genres          19907 non-null  object
 7   avg_rating      19907 non-null  float64
 8   ratings_count   19907 non-null  int64
 9   num_pages       19907 non-null  int64
 10  pub_year        19907 non-null  float64
 11  kmeans_cluster  19907 non-null  int64
dtypes: float64(2), int64(5), object(5)
memory usage: 1.8+ MB

In [7]:
df.describe()

,book_id,author_id,avg_rating,ratings_count,num_pages,pub_year,kmeans_cluster
count,1.990700e+04,1.990700e+04,19907.000000,1.990700e+04,19907.000000,19907.000000,19907.000000
mean,7.800824e+06,1.544133e+06,3.990864,2.631630e+04,309.877078,2007.239916,2.198875
std,9.335106e+06,2.762749e+06,0.256652,1.091256e+05,207.734692,16.501540,1.709861
min,1.000000e+00,4.000000e+00,2.470000,3.741000e+03,0.000000,17.000000,0.000000
25%,1.095105e+05,1.001600e+04,3.830000,5.150000e+03,206.000000,2004.000000,1.000000
50%,1.819717e+06,5.120400e+04,4.000000,8.052000e+03,310.000000,2010.000000,2.000000
75%,1.579539e+07,2.001717e+06,4.170000,1.663100e+04,391.000000,2014.000000,4.000000
max,3.610751e+07,1.731591e+07,4.820000,4.899965e+06,7852.000000,2020.000000,5.000000

## One-hot Encode Clusters

In [8]:
cluster_onehot = pd.get_dummies(df['kmeans_cluster'], prefix='cluster')

In [9]:
df = pd.concat([df, cluster_onehot], axis = 1)

In [10]:
df.head()

,book_id,author_id,authors,title,description,publisher,genres,avg_rating,ratings_count,num_pages,pub_year,kmeans_cluster,cluster_0,cluster_1,cluster_2,cluster_3,cluster_4,cluster_5
0,2767052,153394,Suzanne Collins,"The Hunger Games (The Hunger Games, #1)",Winning will make you famous.\nLosing means ce...,Scholastic Press,"['favorites', 'currently-reading', 'to-read', ...",4.34,4899965,374,2008.0,3,0,0,0,1,0,0
1,3,1077326,J.K. Rowling,Harry Potter and the Sorcerer's Stone (Harry P...,Harry Potter's life is miserable. His parents ...,Scholastic Inc,"['to-read', 'favorites', 'fantasy', 'young-adu...",4.45,4765497,320,1997.0,3,0,0,0,1,0,0
2,2657,1825,Harper Lee,To Kill a Mockingbird,The unforgettable novel of a childhood in a sl...,Harper Perennial Modern Classics,"['to-read', 'favorites', 'classics', 'classic'...",4.26,3255518,324,2006.0,4,0,0,0,0,1,0
3,4671,3190,F. Scott Fitzgerald,The Great Gatsby,"THE GREAT GATSBY, F. Scott Fitzgerald's third ...",Scribner,"['to-read', 'classics', 'favorites', 'fiction'...",3.89,2758812,180,2004.0,4,0,0,0,0,1,0
4,11870085,1406384,John Green,The Fault in Our Stars,"There is an alternate cover edition .\n""I fel...",Dutton Books,"['to-read', 'favorites', 'young-adult', 'ficti...",4.26,2429317,313,2012.0,0,1,0,0,0,0,0

In [11]:
df.columns

Index(['book_id', 'author_id', 'authors', 'title', 'description', 'publisher',
       'genres', 'avg_rating', 'ratings_count', 'num_pages', 'pub_year',
       'kmeans_cluster', 'cluster_0', 'cluster_1', 'cluster_2', 'cluster_3',
       'cluster_4', 'cluster_5'],
      dtype='object')

## Recommendation Engine

In [13]:
features = df[['book_id','avg_rating', 'ratings_count', 'cluster_0', 'cluster_1', 'cluster_2', 'cluster_3','cluster_4', 'cluster_5']]

features.set_index('book_id', inplace = True)

In [14]:
features.head()

,avg_rating,ratings_count,cluster_0,cluster_1,cluster_2,cluster_3,cluster_4,cluster_5
book_id,,,,,,,,
2767052,4.34,4899965,0,0,0,1,0,0
3,4.45,4765497,0,0,0,1,0,0
2657,4.26,3255518,0,0,0,0,1,0
4671,3.89,2758812,0,0,0,0,1,0
11870085,4.26,2429317,1,0,0,0,0,0

In [15]:
features.columns

Index(['avg_rating', 'ratings_count', 'cluster_0', 'cluster_1', 'cluster_2',
       'cluster_3', 'cluster_4', 'cluster_5'],
      dtype='object')

## #1 Euclidean Distance Matrix

In [16]:
from scipy.spatial.distance import cdist

In [17]:

# Normalize the features to have zero mean and unit variance
features_norm = features - features.mean()/ features.std()

In [18]:
features_norm

,avg_rating,ratings_count,cluster_0,cluster_1,cluster_2,cluster_3,cluster_4,cluster_5
book_id,,,,,,,,
2767052,-11.209708,4.899965e+06,-0.509983,-0.52613,-0.419407,0.546491,-0.354902,-0.411343
3,-11.099708,4.765497e+06,-0.509983,-0.52613,-0.419407,0.546491,-0.354902,-0.411343
2657,-11.289708,3.255518e+06,-0.509983,-0.52613,-0.419407,-0.453509,0.645098,-0.411343
4671,-11.659708,2.758812e+06,-0.509983,-0.52613,-0.419407,-0.453509,0.645098,-0.411343
11870085,-11.289708,2.429317e+06,0.490017,-0.52613,-0.419407,-0.453509,-0.354902,-0.411343
...,...,...,...,...,...,...,...,...
8202,-11.359708,3.742759e+03,-0.509983,0.47387,-0.419407,-0.453509,-0.354902,-0.411343
2437237,-11.939708,3.742759e+03,-0.509983,-0.52613,-0.419407,0.546491,-0.354902,-0.411343
877693,-11.909708,3.741759e+03,-0.509983,-0.52613,0.580593,-0.453509,-0.354902,-0.411343
30200,-11.539708,3.741759e+03,-0.509983,-0.52613,-0.419407,-0.453509,-0.354902,0.588657
17315638,-11.189708,3.740759e+03,-0.509983,0.47387,-0.419407,-0.453509,-0.354902,-0.411343

In [19]:
# Calculate the Euclidean distance matrix between all pairs of books
dist_matrix = cdist(features_norm, features_norm, 'euclidean')

In [20]:
dist_matrix

array([[0.00000000e+00, 1.34468000e+05, 1.64444700e+06, ...,
        4.89622300e+06, 4.89622300e+06, 4.89622400e+06],
       [1.34468000e+05, 0.00000000e+00, 1.50997900e+06, ...,
        4.76175500e+06, 4.76175500e+06, 4.76175600e+06],
       [1.64444700e+06, 1.50997900e+06, 0.00000000e+00, ...,
        3.25177600e+06, 3.25177600e+06, 3.25177700e+06],
       ...,
       [4.89622300e+06, 4.76175500e+06, 3.25177600e+06, ...,
        0.00000000e+00, 1.46181394e+00, 1.87573985e+00],
       [4.89622300e+06, 4.76175500e+06, 3.25177600e+06, ...,
        1.46181394e+00, 0.00000000e+00, 1.76705970e+00],
       [4.89622400e+06, 4.76175600e+06, 3.25177700e+06, ...,
        1.87573985e+00, 1.76705970e+00, 0.00000000e+00]])

In [21]:
dis_df = pd.DataFrame(dist_matrix, index = features_norm.index, columns = list(features_norm.index))

In [22]:
book_id = 11870085

In [23]:
dis_df[dis_df.index == book_id]

,2767052,3,2657,4671,11870085,5107,1885,960,48855,5470,...,3453791,15821658,9461095,198289,25890956,8202,2437237,877693,30200,17315638
book_id,,,,,,,,,,,,,,,,,,,,,
11870085,2470648.0,2336180.0,826201.000001,329495.000003,0.0,342372.000003,350911.000003,382818.000003,401018.0,405380.000002,...,2.425573e+06,2425574.0,2425574.0,2425574.0,2425574.0,2425574.0,2425574.0,2425575.0,2425575.0,2425576.0

In [24]:
dis_df[book_id]

book_id
2767052     2.470648e+06
3           2.336180e+06
2657        8.262010e+05
4671        3.294950e+05
11870085    0.000000e+00
                ...
8202        2.425574e+06
2437237     2.425574e+06
877693      2.425575e+06
30200       2.425575e+06
17315638    2.425576e+06
Name: 11870085, Length: 19907, dtype: float64

In [25]:
dis_df[book_id].sort_values(ascending = True)

book_id
11870085    0.000000e+00
4671        3.294950e+05
5107        3.423720e+05
1885        3.509110e+05
960         3.828180e+05
                ...
2437237     2.425574e+06
30200       2.425575e+06
877693      2.425575e+06
17315638    2.425576e+06
2767052     2.470648e+06
Name: 11870085, Length: 19907, dtype: float64

In [26]:
dis_df[book_id].sort_values(ascending = True).head(10)

book_id
11870085         0.000000
4671        329495.000003
5107        342372.000003
1885        350911.000003
960         382818.000003
48855       401018.000000
5470        405380.000002
13335037    466504.000002
7613        500386.000002
5           553065.000002
Name: 11870085, dtype: float64

In [27]:
similar_books = dis_df[book_id].sort_values(ascending = True).head(10).index.to_list()[1:]

In [28]:
similar_titles =[]
for i in similar_books:
    similar_titles.append(df.loc[df['book_id']== i, 'title'].values[0])

In [29]:
similar_titles

['The Great Gatsby',
 'The Catcher in the Rye',
 'Pride and Prejudice',
 'Angels & Demons  (Robert Langdon, #1)',
 'The Diary of a Young Girl',
 '1984',
 'Divergent (Divergent, #1)',
 'Animal Farm',
 'Harry Potter and the Prisoner of Azkaban (Harry Potter, #3)']

## #2 Cosine Similarity

In [55]:

from sklearn.metrics.pairwise import cosine_similarity

# Calculate cosine similarity matrix
cos_sim_matrix = cosine_similarity(features_norm)

# Choose a target book ID
target_book_id = 11870085

# Get the row index for the target book in the cosine similarity matrix
target_book_idx = df.index[df['book_id'] == target_book_id][0]

# Get the cosine similarity scores for the target book
sim_scores = list(enumerate(cos_sim_matrix[target_book_idx]))

# Sort the scores in descending order
sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)

# Get the top 10 most similar books (excluding the target book)
top_similar_books = []
for i in range(1, 11):
    book_idx = sim_scores[i][0]
    book_title = df.loc[df.index == book_idx, 'title'].values[0]
    top_similar_books.append(book_title)

# Print the top similar books
print(top_similar_books)

['The Great Gatsby', 'The Diary of a Young Girl', 'Pride and Prejudice', 'The Catcher in the Rye', '1984', 'Angels & Demons  (Robert Langdon, #1)', 'To Kill a Mockingbird', 'Divergent (Divergent, #1)', 'Harry Potter and the Prisoner of Azkaban (Harry Potter, #3)', 'Catching Fire (The Hunger Games, #2)']

## #3 Manhattan Distance

In [46]:
from sklearn.metrics.pairwise import pairwise_distances
# Compute pairwise Manhattan distances between books in the same cluster
manhattan_dists = pairwise_distances(features_norm, metric='manhattan')

manhattan_df = pd.DataFrame(manhattan_dists, index = features_norm.index, columns = list(features_norm.index))


book_id = 11870085

manhattan_df[manhattan_df.index == book_id]
manhattan_df[book_id].sort_values(ascending = True)
manhattan_df[book_id].sort_values(ascending = True).head(10)

similar_books = manhattan_df[book_id].sort_values(ascending = True).head(10).index.to_list()[1:]
c =[]
for i in similar_books:
    similar_titles.append(df.loc[df['book_id']== i, 'title'].values[0])

In [47]:
similar_titles =[]
for i in similar_books:
    similar_titles.append(df.loc[df['book_id']== i, 'title'].values[0])
similar_titles

['The Great Gatsby',
 'The Catcher in the Rye',
 'Pride and Prejudice',
 'Angels & Demons  (Robert Langdon, #1)',
 'The Diary of a Young Girl',
 '1984',
 'Divergent (Divergent, #1)',
 'Animal Farm',
 'Harry Potter and the Prisoner of Azkaban (Harry Potter, #3)']

## #3 K Nearest Neighbors

In [51]:
knn = NearestNeighbors(metric='euclidean')

knn.fit(features_norm)

NearestNeighbors(metric='euclidean')

In [54]:
from sklearn.neighbors import NearestNeighbors
from sklearn.metrics.pairwise import pairwise_distances


# Instantiate the KNN model
knn = NearestNeighbors(metric='euclidean')



# Fit the KNN model on the normalized features
knn.fit(features_norm)

# Construct the pairwise distance matrix
distances = pairwise_distances(features_norm, metric='manhattan')
knn_df = pd.DataFrame(distances, index=features_norm.index, columns=features_norm.index)

book_id = 11870085

# Get the top 10 most similar books
similar_books = knn_df[book_id].sort_values(ascending=True).head(10).index.to_list()[1:]

# Get the titles of the similar books
similar_titles = []
for i in similar_books:
    similar_titles.append(df.loc[df['book_id']==i, 'title'].values[0])
    
similar_titles

['The Great Gatsby',
 'The Catcher in the Rye',
 'Pride and Prejudice',
 'Angels & Demons  (Robert Langdon, #1)',
 'The Diary of a Young Girl',
 '1984',
 'Divergent (Divergent, #1)',
 'Animal Farm',
 'Harry Potter and the Prisoner of Azkaban (Harry Potter, #3)']